body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

code {
  font-family: monospace;
  padding: 3px 5px;
  box-sizing: border-box;
  background: #ddd;
  border-radius: 3px;
  border: 1px solid #bbb;
  display: inline-block; }

.text-center {
  text-align: center; }

.header {
  background: #2196F3;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); }
  .header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .header .left {
    float: left; }
    .header .left .title {
      color: #fff;
      padding: 10px;
      font-size: 24px;
      font-family: "Cutive Mono", monospace;
      display: inline-block; }
  .header .nav {
    float: right; }
    .header .nav:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
    .header .nav .notifications {
      float: left;
      padding: 10px 0 0; }
      .header .nav .notifications .tray {
        position: relative; }
        .header .nav .notifications .tray .list {
          position: absolute;
          display: none;
          top: 100%;
          right: 0;
          width: 175px;
          background: #fff;
          border: 1px solid #eee;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35); }
          .header .nav .notifications .tray .list .title {
            background: #2196F3;
            padding: 5px;
            font-size: 14px;
            color: #fff; }
          .header .nav .notifications .tray .list .notification {
            width: 100%;
            box-sizing: border-box;
            margin: 5px 0; }
            .header .nav .notifications .tray .list .notification .message {
              padding: 5px;
              font-size: 12px;
              box-sizing: border-box; }
            .header .nav .notifications .tray .list .notification .actions > button, .header .nav .notifications .tray .list .notification .actions a {
              width: 40%;
              margin: 0 5%;
              padding: 3px 0 2px 0;
              text-align: center;
              border: none;
              color: #fff;
              border-radius: 3px;
              text-decoration: none;
              display: inline-block; }
              .header .nav .notifications .tray .list .notification .actions > button.reject, .header .nav .notifications .tray .list .notification .actions a.reject {
                background: #FF5252; }
              .header .nav .notifications .tray .list .notification .actions > button.accept, .header .nav .notifications .tray .list .notification .actions a.accept {
                background: #4CAF50; }
              .header .nav .notifications .tray .list .notification .actions > button .material-icons, .header .nav .notifications .tray .list .notification .actions a .material-icons {
                font-size: 16px; }
            .header .nav .notifications .tray .list .notification:not(:last-of-type) {
              border-bottom: 1px solid #aaa; }
      .header .nav .notifications .icon {
        border: none;
        padding: 0;
        color: #fff;
        background: none;
        margin: 0 5px;
        position: relative;
        display: inline-block; }
        .header .nav .notifications .icon .indicator:not(:empty) {
          background: #ff0000;
          border-radius: 40px;
          color: #fff;
          position: absolute;
          top: -5px;
          left: calc(100% - 10px);
          display: block;
          padding: 1px 5px; }
  .header .nav-list {
    font-size: 0;
    display: block;
    list-style-type: none;
    white-space: nowrap;
    margin: 0 35px 0 0; }
    .header .nav-list li {
      display: inline-block; }
      .header .nav-list li a {
        font-size: 20px;
        display: block;
        padding: 10px 5px;
        text-decoration: none;
        color: #fff; }

.content-body {
  max-width: 950px;
  width: 100%;
  margin: 0 auto; }

.info-panel {
  margin: 5px 0;
  display: block;
  padding: 5px; }
  .info-panel.info {
    color: #333;
    font-style: italic; }
  .info-panel.spaced {
    margin: 2em 0; }
  .info-panel.small {
    font-size: 12px; }
  .info-panel.medium {
    font-size: 18px; }
  .info-panel.large {
    font-size: 22px; }

.button {
  display: inline-block;
  text-decoration: none;
  background: #fff;
  border: #efefef solid 1px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #222;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 3px 5px rgba(0, 0, 0, 0.3); }
  .button.blue {
    background: #2196F3;
    color: #fff;
    border: 1px solid #2196F3; }
  .button.red {
    background: #FF5252;
    color: #fff;
    border: 1px solid #FF5252; }

.icon-button {
  display: inline-block;
  text-decoration: none;
  background: #fff;
  border: #222 solid 1px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 3px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 0;
  position: relative;
  vertical-align: top;
  cursor: pointer; }
  .icon-button i {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    background: #222;
    color: #fff;
    padding: 3px; }
  .icon-button .text {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    padding: 6px;
    color: #222;
    font-size: 16px; }
  .icon-button.blue {
    border: #2196F3 solid 1px; }
    .icon-button.blue i {
      color: #2196F3;
      background: #fff; }
    .icon-button.blue .text {
      background: #2196F3;
      color: #fff; }
  .icon-button.red {
    border: #FF5252 solid 1px; }
    .icon-button.red i {
      color: #FF5252;
      background: #fff; }
    .icon-button.red .text {
      background: #FF5252;
      color: #fff; }

.modal {
  position: relative;
  background: #fff;
  margin: 30vh auto 0;
  width: 100%;
  max-width: 450px;
  display: block; }
  .modal .content {
    padding: 10px; }
  .modal .actions {
    padding: 10px;
    background: #eee;
    text-align: center; }

.modal-wrapper {
  display: none;
  position: relative;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9000; }
  .modal-wrapper.open {
    display: block; }

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 300px;
  vertical-align: top; }
  .card.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .card.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .card.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .card.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .card.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.breadcrumbs {
  padding: 3px 5px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px; }
  .breadcrumbs.spaced {
    margin: 10px 0; }
  .breadcrumbs a.breadcrumb {
    color: #0000ff; }

.base-attribute {
  display: inline-block;
  padding: 0 0 10px 0;
  text-align: center;
  border: 2px solid #333;
  position: relative;
  box-sizing: border-box;
  margin: 5px 0 15px 0;
  min-width: 85px;
  background: #fff; }
  .base-attribute .name {
    padding: 3px 0 0;
    font-size: 10px;
    text-transform: uppercase;
    color: #333;
    white-space: nowrap; }
  .base-attribute .value {
    margin: 10px;
    font-size: 22px; }
  .base-attribute .modifier {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #999;
    position: absolute;
    bottom: -15px;
    left: 10px;
    right: 10px;
    box-sizing: border-box;
    background: #fff;
    z-index: 1; }

.attributes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 85px;
  float: left;
  box-sizing: border-box; }

.main-stats {
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 0 20px;
  width: calc(100% - 85px); }
  .main-stats .stats-list {
    display: table;
    border: 2px solid #ddd;
    margin: 0 0 10px 0; }
  .main-stats .stat {
    display: table-row; }
    .main-stats .stat:nth-of-type(2n) {
      background: #eee; }
    .main-stats .stat .name {
      font-weight: bold;
      display: table-cell;
      padding: 5px; }
    .main-stats .stat .value {
      display: table-cell;
      padding: 5px 15px;
      border-left: 1px solid #ddd; }

.sheet-row-1:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.mobile-fab {
  display: none; }

@media screen and (max-width: 768px) {
  .mobile-fab {
    position: fixed;
    display: block;
    bottom: 10px;
    right: 10px;
    z-index: 250;
    background: #2196F3;
    border-radius: 100%;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    text-decoration: none; }
    .mobile-fab ._icon {
      font-size: 32px; }
  .base-attribute {
    margin: 10px 10px 20px; }
  .attributes {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    float: none;
    background: #eee;
    margin: 0 0 10px 0;
    padding: 3px 0;
    -webkit-overflow-scrolling: touch; }
  .main-stats {
    width: 100%;
    float: none; }
  .edit-wrapper {
    display: none; } }

/*# sourceMappingURL=app.css.map */
