body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

.text-center {
  text-align: center; }

.header {
  background: #2196F3;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); }
  .header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .header .title {
    color: #fff;
    padding: 10px;
    font-size: 24px;
    display: inline-block; }
  .header .left {
    float: left; }
  .header .nav {
    float: right; }
  .header .nav-list {
    font-size: 0;
    display: block;
    list-style-type: none;
    white-space: nowrap;
    margin: 0 35px 0 0; }
    .header .nav-list li {
      display: inline-block; }
      .header .nav-list li a {
        font-size: 20px;
        display: block;
        padding: 10px 5px;
        text-decoration: none;
        color: #fff; }

.content-body {
  max-width: 950px;
  width: 100%;
  margin: 0 auto; }

.button {
  display: inline-block;
  text-decoration: none;
  background: #fff;
  border: #efefef solid 1px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #222;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 3px 5px rgba(0, 0, 0, 0.3); }
  .button.blue {
    background: #2196F3;
    color: #fff;
    border: 1px solid #2196F3; }
  .button.red {
    background: #FF5252;
    color: #fff;
    border: 1px solid #FF5252; }

.icon-button {
  display: inline-block;
  text-decoration: none;
  background: #fff;
  border: #222 solid 1px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 3px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 0;
  position: relative;
  vertical-align: top;
  cursor: pointer; }
  .icon-button i {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    background: #222;
    color: #fff;
    padding: 3px; }
  .icon-button .text {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    padding: 6px;
    color: #222;
    font-size: 16px; }
  .icon-button.blue {
    border: #2196F3 solid 1px; }
    .icon-button.blue i {
      color: #2196F3;
      background: #fff; }
    .icon-button.blue .text {
      background: #2196F3;
      color: #fff; }
  .icon-button.red {
    border: #FF5252 solid 1px; }
    .icon-button.red i {
      color: #FF5252;
      background: #fff; }
    .icon-button.red .text {
      background: #FF5252;
      color: #fff; }

.modal {
  position: relative;
  background: #fff;
  margin: 30vh auto 0;
  width: 100%;
  max-width: 450px;
  display: block; }
  .modal .content {
    padding: 10px; }
  .modal .actions {
    padding: 10px;
    background: #eee;
    text-align: center; }

.modal-wrapper {
  display: none;
  position: relative;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9000; }
  .modal-wrapper.open {
    display: block; }

.breadcrumbs {
  padding: 3px 5px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px; }
  .breadcrumbs.spaced {
    margin: 10px 0; }
  .breadcrumbs a.breadcrumb {
    color: #0000ff; }

/*# sourceMappingURL=app.css.map */
