$content_width: 950px;
$gutter: 35px;

// Colors

$material_blue: #2196F3;
$material_green: #4CAF50;
$material_red: #FF5252;

// Fonts

$font_serif_josefinSlab: 'Josefin Slab', serif;
$font_serif_slabo: 'Slabo 27px', serif;
$font_sansserif_roboto: 'Roboto', sans-serif;
$font_monospace_cutive: 'Cutive Mono', monospace;

// Shadow
$shadow_light: 0 1px 3px rgba(0, 0, 0, 0.5),
               0 2px 4px rgba(0, 0, 0, 0.2);

$shadow_normal: 0 1px 3px rgba(0, 0, 0, 0.6),
                0 3px 5px rgba(0, 0, 0, 0.3);

// CONFIG -- Header
$header_baseTextColor: #fff;
