.me-page{
    background: #eee;
    padding: 35px 0 0;
    min-height: 100vh;
    box-sizing: border-box;

    .me-header{
        $textSpacing: 5px;

        .username{
            font-size: 20px;
            font-weight: normal;
            color: #565656;
            text-transform: uppercase;
            margin: 0 0 $textSpacing 0;
        }

        .line{
            max-width: 50px;
            height: 3px;
            background: #666;
            border: none;
            margin: 0;
        }

        .subtitle{
            margin: $textSpacing 0 0;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: normal;
            color: #565656;
        }
    }

    // COLLECTIONS
    .collection{
        display: block;
        background: url('/img/campaign/header.gif');
        background-size: cover;
        background-position: center;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.45);
    }
}
