.button{
    display: inline-block;
    text-decoration: none;
    background: #fff;
    border: #efefef solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #222;
    font-size: 14px;
    cursor: pointer;
    box-shadow: $shadow_normal;

    // Themes

    &.blue{
        background: $material_blue;
        color: #fff;
        border: 1px solid $material_blue;
    }
    &.red{
        background: $material_red;
        color: #fff;
        border: 1px solid $material_red;
    }
}

.icon-button{
    display: inline-block;
    text-decoration: none;
    background: #fff;
    border: #222 solid 1px;
    border-radius: 5px;
    box-shadow: $shadow_normal;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: top;
    cursor: pointer;

    i{
        display: inline-block;
        position: relative;
        vertical-align: bottom;
        background: #222;
        color: #fff;
        padding: 3px;
    }

    .text{
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        padding: 6px;
        color: #222;
        font-size: 16px;
    }

    // Themes
    &.blue{
        border: $material_blue solid 1px;

        i{
            color: $material_blue;
            background: #fff;
        }
        .text{
            background: $material_blue;
            color: #fff;
        }
    }

    &.red{
        border: $material_red solid 1px;

        i{
            color: $material_red;
            background: #fff;
        }
        .text{
            background: $material_red;
            color: #fff;
        }
    }
}
