@import "../../variables.scss";

.notes-wrapper{
    background: #eee;
    margin: 10px 0;
    padding: 15px 0;

    .notes{
        .note{
            display: inline-block;
            position: relative;
            vertical-align: top;
            background: #fff;
            margin: 0 10px 0 0;
            width: 250px;
            border: 1px solid #ccc;
            box-shadow: $shadow_light;

            .title{
                margin: 0;
                padding: 5px;
                color: #333;
            }

            .description{
                font-weight: normal;
                padding: 5px;
                margin: 0;
                color: #565656;
                font-style: italic;
            }

            .actions{
                padding: 10px 5px;

                a{
                    text-decoration: none;
                    background: #ececec;
                    border: 1px solid #888;
                    border-radius: 3px;
                    color: #333;
                    padding: 3px 5px;

                    &:hover{
                        background: #aaa;
                    }
                }
            }
        }
    }

    .actions{
        margin: 15px 0 0;
    }
}
